<table class="table table-striped border mt-3">
  <thead>
    <tr
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      <th
        class="header"
        cdkDrag
        (click)="onSort(header)"
        *ngFor="let header of headers"
      >
        <div class="header-text">
          {{ header.text }}
          <span class="material-icons">{{ header.sortIcon }}</span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books$ | async">
      <td *ngFor="let header of headers">
        {{ sort.getPropByString(book, header.property) | prettify }}
      </td>
    </tr>
  </tbody>
</table>
