<body>
  <div class="wrapper">
    <a
      href="https://www.youtube.com/watch?v=thOifuHs6eY"
      target="_blank"
      title="😲"
      ><img
        style="transform: scaleX(-1)"
        src="assets/engineerbee-removebg-preview.png"
      />
    </a>
    <div class="typing-demo">Hexagons are the bestagons</div>
    <a
      href="https://www.youtube.com/watch?v=thOifuHs6eY"
      target="_blank"
      title="🍣"
      ><img src="assets/engineerbee-removebg-preview.png"
    /></a>
  </div>

  <div class="table-container">
    <app-search></app-search>
    <app-table></app-table>
  </div>
</body>
